<div id="<%= dom_id list_best_beer %>">
  <p>
    <strong>Title:</strong>
    <%= list_best_beer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list_best_beer.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= list_best_beer.text %>
  </p>

</div>
