<h1>Editing list best beer</h1>

<%= render "form", list_best_beer: @list_best_beer %>

<br>

<div>
  <%= link_to "Show this list best beer", @list_best_beer %> |
  <%= link_to "Back to list best beers", list_best_beers_path %>
</div>
